h2{
    margin-bottom: 1.875rem;
    line-height: 3.875rem;
    font-weight: 800;
    font-size: 3rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
.about-us .subtitle p{
    font-size: 20px;
    font-family: var(--primary-text);
    text-align: center;
    margin-top: -13px;
}
.about-page-text .ap-title {
	margin-bottom: 30px;
}
.about-page-text .ap-title h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 18px;
}
.about-page-text .ap-title p {
	font-size: 18px;
	color: #707079;
	line-height: 28px;
}
.about-page-text .ap-services li {
	list-style: none;
	font-size: 20px;
	color: #707079;
	line-height: 42px;
}
.about-page-text .ap-services li i {
	color: #dfa974;
	margin-right: 5px;
}
.ap .immg img{
	height: 400px;
	width: 300px;
}