{% include 'header2.html' %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/room.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>ShreeHotel | Rooms</title>
  </head>
  <body>
    <section id="room" class="room">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 section-title text-center mb-3">
                    <h2 style="margin-top: 100px;">Our Rooms</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 px-lg-0 ">
                  <div class="search">
                    <nav class="navbar navbar-expand-lg bg-body-white rounded shadow">
                        <div class="container-fluid flex-lg-column align-items-stretch">
                          <h4 class="mt-2">SEARCH</h4>
                          <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#SearchDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse flex-column" id="SearchDropdown">
                            <div class="border bg-light p-3 rounded mb-3">
                               <h5 class="mb-3">CHECK AVAILABILITY</h5>
                               <label class="form-label">Check-in</label>
                               <input type="date" class="form-control shadow-none mb-3 ">
                               <label class="form-label">Check-in</label>
                               <input type="date" class="form-control shadow-none mb-3">
                               <label class="form-label">Adulte</label>
                               <select name="" id="" class="form-select mb-3">
                                <option selected>Adulte</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4+">4+</option>
                              </select>
                              <label class="form-label">Children</label>
                               <select name="" id="" class="form-select">
                                <option selected>Children   </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4+">4+</option>
                              </select>
                              <button id="search-btn">search</button>
                            </div>
                          </div>
                        </div>
                    </nav>
                   </div>
                </div>

                <div class="col-lg-9 col-md-12 px-4">
                  {%for rdata in roomdata%}
                    <div class="card mb-4 border-0 shadow">
                        <div class="row g-0 p-3 align-items-center">
                          <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="/media/{{rdata.image}}" id="cimg" class="img-fluid rounded"  alt="...">
                          </div>
                          <div class="col-md-5 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">{{rdata.room_name}}</h5>
                            <div class="features mb-3">
                                <h6 class="mb-1">Features</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    2 Rooms
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    1 Bathroom
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    1 Balcony
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    1 Sofa
                                </span>
                            </div>
                            <div class="facilities mb-3">
                                <h6 class="mb-1">Facilities</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Wifi
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Television
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    AC
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    Room Heater
                                </span>
                            </div>
                            <div class="guests">
                                <h6 class="mb-1">Guests</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    {{rdata.aboults}} Abults
                                </span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap">
                                    {{rdata.children}} Children
                                </span> 
                            </div>

                          </div>
                          <div class="col-md-2">
                            <div class="card-body"></div>
                              
                            <h6 class="mb-4 ml-3 text-center mt-lg-0 mt-md-0 mt-4">${{rdata.room_price}} per night</h6>
                            <a href="#" class="main-btn rounded-2 px-lg-3 w-100" data-bs-toggle="modal" data-bs-target="#RoomBooking">Book Now</a>
                            </div>
                          </div>
                        </div>
                  {%endfor%}
                        
                 </div>
                 
                </div>
            </div>
        </div>

<!-- roombooking model  -->

         
        <div class="modal fade" id="RoomBooking" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 d-flex align-items-center" style="color: black;"><i
                  class="fas fa-user-circle fs-3 me-2"></i>Book Room</h1>
              <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/register" method="post">
                {% csrf_token %}
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" class="form-control shadow-none" name="name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control shadow-none" name="email" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Phone</label>
                      <input type="number" class="form-control shadow-none" name="phone" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">City</label>
                      <input type="text" class="form-control shadow-none" name="city" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Adulte</label>
                      <select name="" id="" class="form-select mb-3">
                        <!-- <option selected>Adulte</option> -->
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4+">4+</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Children</label>
                      <select name="" id="" class="form-select mb-3">
                        <!-- <option selected>Children</option> -->
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4+">4+</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Check-in</label>
                      <input type="date" class="form-control shadow-none" name="password" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Check-out</label>
                      <input type="date" class="form-control shadow-none" name="confirm_password" required>
                    </div>
                  </div>
                </div>
                <div class="text-center my-1">
                  <input type="submit" value="Book Room" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>