{% include 'header2.html' %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shree Hotel | About-Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/about-us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
<section id="about-us" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5 mt-5">
                <h2>Your Booking</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                    <table class="table table-striped table-sm text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>Our_room</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>phone</th>
                                <th>City</th>
                                <th>Adulte</th>
                                <th>Children</th>
                                <th>check_in</th>
                                <th>check_out</th>
                                <th>Room_No</th>
                            </tr>
                        </thead>
                        <tbody>
                  {%for bdata in bookingdata%}
                            <tr>
                                <td></td>
                                <td>{{bdata.name}}</td>
                                <td>{{bdata.email}}</td>
                                <td>{{bdata.phone}}</td>
                                <td>{{bdata.city}}</td>
                                <td>{{bdata.adulte}}</td>
                                <td>{{bdata.children}}</td>
                                <td>{{bdata.check_in}}</td>
                                <td>{{bdata.check_out}}</td>
                                <td>{{bdata.Room_No}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>